<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新余学院教师管理</title>
		<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	
		
		<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
	</head>
	<body>
		<div class="">
		<div class="navbar bg-primary">
    	<div class="navbar-header pull-left">
    		<a href="#" class="navbar-brand btn btn-lg" style="color: #FFFFFF;">
    				<span class="fa fa-leaf fa-4x" style="font-size: 20px;">用户管理系统</span>
    		</a>
    	</div>
    		<div class="navbar-header pull-right" role="navigation">
			<div class="dropdown drop">
				<div class="btn btn-block btn-group-vertical btn-lg" id="dropdownMenu1" 
						data-toggle="dropdown">
					<i class="fa fa-cog" ></i>
						欢迎光临
					<span class="caret"></span>
				</div>
				<ul class="dropdown-menu pull-right dropdown-caret dropdown-close" role="menu" aria-labelledby="dropdownMenu1">
					<li>
						
					</li>
					<li class="divider"></li>
					<li>					
				    		<a href="{:url('login/logout')}"><i class="fa fa-power-off"></i>退出</a>
					</li>
				</ul>
			</div>
    		</div>
		</div>
		</div>
		
		<div class="row ">
			<div class="container">
				<nav class="navbar navbar-default" role="navigation">
					
					<div class="">
						<div class="navbar-header">
							<a class="navbar-brand">用户信息管理</a>
						</div>
						<div class="collapse navbar-collapse" id="">
							<ul class="nav navbar-nav">
								<li class="active"><a href="{:url('user/index')}">用户管理</a></li>
								<!--<li><a href="{:url('admin/index')}">管理员设置</a></li>-->
							</ul>
							<ul class="nav navbar-nav navbar-right"> 							
								<li><a href="{}"></a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
		
		
		<div class="container">
		<div class="panel panel-default">
		    <div class="panel-heading">
		        <h3 class="panel-title">用户管理</h3>
		    </div>
		    <div class="panel-body">
		    	<div class="row">
		    		<div class="text-left col-md-6">
		    		<div class="btn btn-default">
		    		<a href="{:url('user/add')}"><i class="glyphicon glyphicon-plus"></i>添加</a>
		    		</div>
		    	</div>
		    	<div class="text-right col-md-6">
		    		<form class="form-inline text-right" action="{:url('user/index')}">
		    			<div class="form-group">
		    				<input type="text" name="name" class="form-control" placeholder="请输入关键词姓名" />
		    			</div>
		    			<button type="submit" class="btn btn-default">
		    				<i class=" glyphicon glyphicon-search"></i>
		    			</button>
		    		</form>
		    	</div>
		    	<!--<div class="text-left col-md-6">
		    		<div class="btn btn-default">
		    		<a href="{:url('login/logout')}"><i class="glyphicon glyphicon-plus"></i>退出</a>
		    		</div>
		    	</div>-->
			</div>
		</div>
		
		<!--/**************************************************************************/-->
		
		    <div class="panel-body">
		   
		    <div class="row">
		    
			<div class="col-md-12">
				<table class="table table-hover table-bordered">
			<tr>
				<th>序号</th>
				<th>姓名</th>
				<th>性别</th>
				<th>邮箱</th>
				<th>用户名</th>	
				<th>创建时间</th>
				<th>更新时间</th>
				<th>操作</th>
			</tr>
			{volist name="qianfeng" id="qf" key="key"}
			<tr>
				<td>{$key}</td>
				<td>{$qf->getData('name')}</td>
				<td>{if $qf->getData('sex') eq '0'}男{else}女{/if}</td>
				<td>{$qf->getData('email')}</td>
				<td>{$qf->getData('username')}</td>
				<td>{$qf->getData('create_time')}</td>
				<td>{$qf->getData('update_time')}</td>
				<td><a class="btn btn-danger btn-sm" href="{:url('edit?id='.$qf->getData('id'))}"><i class="glyphicon glyphicon-pencil"></i>编辑</a>&nbsp;&nbsp;&nbsp;
					<a class="btn btn-primary btn-sm" href="{:url('delete?id='.$qf->getData('id'))}"><i class="glyphicon glyphicon-trash"></i>删除</a>
				</td>
			</tr>
			{/volist}
			
		</table>{$qianfeng->render()}
			</div>
		</div>
		    </div>
		</div>
		</div>
		
	</body>
</html>
